<footer class="footer">
  <div class="fad">
    <a href="https://twitter.com/"><i class="fab fa-twitter" id="tweet"></i></a>
    <a href="https://www.facebook.com/">
      <i class="fab fa-facebook" id="face"></i
    ></a>
    <a href="https://www.youtube.com/"
      ><i class="fab fa-youtube" id="insta"></i
    ></a>
    <a href="https://www.instagram.com/"
      ><i class="fab fa-instagram" id="insta"></i
    ></a>
  </div>
  <div class="madeby">Made by Aaahana Mehrotra</div>
</footer>
