<nav class="navbar">
  <div class="left">
    <img src="https://img.icons8.com/doodle/48/000000/coaching.png" />
    <div class="title"><a href="/">marinomenta</a></div>
  </div>
  <ul class="menu">
    <li class="navitem">
      <a href="/" class="link">Home</a>
    </li>
    <li class="navitem">
      <a href="/map" class="link">Map</a>
    </li>
    <li class="navitem">
      <a href="/about" class="link">About</a>
    </li>
    <li class="navitem">
      <a href="/posts" class="link">Forum</a>
    </li>
    <li class="navitem">
      <a href="/profile" class="link">Profile</a>
    </li>
    <li class="navitem">
      <a href="/users/logout" class="link">Logout</a>
    </li>
  </ul>
  <div class="hamburger">
    <span class="burger"></span>
    <span class="burger"></span>
    <span class="burger"></span>
  </div>
</nav>
