<section id="about">
<div class="img-container">
  <img src="/images/about.png" class="top-img" />
</div>
  <h1 class="about-title">About</h1>
  <div class="indiv">
    <div class="image-div">
      <img class="about-image" src="images/aaahana.png" alt="" />
    </div>
    <div class="about-text">
      Hi, I am Aaahana Mehrotra, a student of grade 9 at Delhi Public School RK
      Puram, New Delhi with interests in computer science, physics and
      mathematics. I am a web development and machine learning enthusiast. I am
      a keen learner and observer and hope to use my skills in order to improve
      the society
    </div>
  </div>
</section>
