<div class="img-container">
  <img src="/images/Mentorship.jpg" class="top-img" />
</div>
<div class="top">marinomenta</div>
<hr />
<section id="dashboard">
  <div class="section">
    <div class="img-dash">
      <img src="/images/mentoring.jpg" class="main-img" />
    </div>
    <div class="solution-div">
      <h1 class="heading">Problem</h1>
      <h2 class="solution-h2">
        I saw that numerous people around me had a keen interest in widening
        their knowledge about marine life. However, most of the resources
        available, were not interactive. There were books and articles that one
        could read but one could rarely find an interactive and visual tool to
        fulfill their need. It was difficult for them to understand the complex
        and technical terminologies used in most of these resources. In addition
        to this, some students were facing difficulties in finding reasonable
        resources to learn and study the subjects they relished. Therefore, I
        felt, it was the need of the hour to develop a product that would
        simultaneously combat both these problems.
      </h2>
    </div>
  </div>
  <hr />
  <div class="section">
    <div class="img-dash">
      <img src="/images/mentoring2.jpg" class="main-img" />
    </div>

    <div class="solution-div">
      <h1 class="heading">Solution</h1>
      <h2 class="solution-h2">
        Marinomenta is a Web-based platform-cum-application that provides
        interactive insights to Marine life and aspects tangential to it. It
        makes marine life fun, visual, interactive and interesting to learn. It
        is a knowledge building tool that is easy to navigate and accessible.
        Especially for beginners, it provides a learning base and a forum to
        interact with each other. Secondly, it provides a platform where mentors
        can post content for students to learn from. Also, it enables the
        mentors to expand their knowledge by sharing it with others.
      </h2>
    </div>
  </div>
</section>
